@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'text';
    src: url('./assets/font/Aeonik_Medium/Aeonik_Medium.ttf');
}
*{
    font-family: 'text', sans-serif;
 }
